<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro"
      rel="stylesheet"
      type="text/css"
    />
    <title>Reset Your Password</title>
  </head>
  <body style="font-family: 'Source Sans Pro', sans-serif">
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro"
      rel="stylesheet"
      type="text/css"
    />
    <div style="display: flex; justify-content: center; align-items: center">
      <div style="padding: 2rem; width: 45rem; background-color: #efefef">
        <img src="cid:logo" alt="Logo Kometa" style="width: 8rem" />

        <div style="font-weight: 600; font-size: 1rem; margin-top: 3rem">
          Hello {{participant_name}},
        </div>

        <div style="margin-top: 2rem">
          Kami menerima permintaan untuk mereset kata sandi akun Kometa Anda.
          Jika Anda tidak membuat permintaan ini, Anda dapat mengabaikan email
          ini karena akun Anda aman.
        </div>

        <div style="margin-top: 2rem">
          Jika Anda memang meminta pengaturan reset kata sandi, klik tombol di
          bawah ini untuk mengatur kata sandi baru
        </div>

        <button
          style="
            padding: 0.5rem;
            margin-top: 1.5rem;
            border-radius: 0.3rem;
            border-color: #0e8388;
            background-color: #0e8388;
            color: white;
          "
        >
          Reset Kata Sandi
        </button>

        <div style="margin-top: 2rem">
          Untuk keamanan Anda, tautan ini akan kedaluwarsa dalam 24 jam.
        </div>

        <div style="margin-top: 2rem">Best regards,</div>

        <div style="font-weight: 600; font-size: 1rem; margin-top: 1rem">
          The Ngaraga Team
        </div>
      </div>
    </div>
  </body>
</html>
